@import "../scss/variables.scss";

.foot {
    background-color: $white;
}

.logo_foot {
    width: 33px;
    margin-top: 28px;
    margin-bottom: 28px;
}

.address, .phone {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $text-color;
}

.info_foot {
    width: fit-content;
    margin-left: 42px;
    margin-top: 20px;
}

.wrap_foot {
    display: flex;
}

.phone {
    margin-top: 6px;
    margin-bottom: 10px;
}

.link_foot {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $link-color;
}

.a_link_foot {
    text-decoration: none;
}