// Цвета
$btn-red: #E5261E;
$text-color: #333333;
$white: #F2F2F2;
$modal-back: #FFFFFF;
$link-color: #1F4766;
$border-line: #888;

// Контент
$wrap-content: 1180px;

// Шрифты
$main-font: Rubik, sans-serif;